<!DOCTYPE html>
<html ng-app="mysqldumper">
<head>
    <title>MysqlDumper</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <style type="text/css">
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="bower_components/angular-material-data-table/dist/md-data-table.min.css">
    <link rel="stylesheet" href="fonts/material-icons.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body ng-cloak ng-controller="AppController">

<div layout="column" layout-fill>
    <md-toolbar ng-controller="MenuController" class="md-medium-tall">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Menu" ng-click="toggleMenu()">
                <md-icon>menu</md-icon>
            </md-button>
            <h1>
                <span>MysqlDumper</span>
            </h1>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Settings" ng-click="showSettings($event)">
                <md-tooltip>
                    Settings
                </md-tooltip>
                <md-icon>settings</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-content flex>
        <div ng-show="dumpConfiguration">
            <md-table-container>
                <table md-table md-progress="dumpConfiguration">
                    <thead md-head md-order="sortOrder">
                    <tr md-row>
                        <th md-column md-order-by="name">Table name</th>
                        <th md-column width="1%">
                            <md-checkbox ng-model="dumpConfiguration.includeAllStructure" aria-label="Include all structure"></md-checkbox>
                            Structure
                        </th>
                        <th md-column width="1%">
                            <md-checkbox ng-model="dumpConfiguration.includeAllData" aria-label="Include all data"></md-checkbox>
                            Data
                        </th>
                        <th md-column width="1%" md-order-by="ownSize" md-numeric>Own size</th>
                        <th md-column width="1%" md-order-by="getTreeSize()" md-numeric>Tree size</th>
                    </tr>
                    </thead>
                    <tbody md-body>
                    <tr md-row ng-repeat="table in dumpConfiguration.tables | orderBy: sortOrder">
                        <td md-cell>{{table.name}}</td>
                        <td md-cell><md-checkbox ng-model="table.includeStructure" aria-label="Include structure for {{table.name}}"></md-checkbox></td>
                        <td md-cell><md-checkbox ng-model="table.includeData" aria-label="Include data for {{table.name}}"></md-checkbox></td>
                        <td md-cell>{{::table.ownSize | bytes}}</td>
                        <td md-cell>{{table.getTreeSize() | bytes}}</td>
                    </tr>
                    </tbody>
                </table>
            </md-table-container>
        </div>
    </md-content>

    <md-toolbar ng-show="dumpConfiguration">
        <div class="md-toolbar-tools">
            <span>
                Total size: {{dumpConfiguration.totalSize | bytes}}
                -
                Selected size: {{dumpConfiguration.selectedSize | bytes}}
            </span>
            <span flex></span>
            <md-button ng-click="showDetails($event)">
                Details
            </md-button>
            <md-button class="md-raised md-accent">
                <md-tooltip md-direction="left">
                    Not implemented yet
                </md-tooltip>
                Export
            </md-button>
        </div>
    </md-toolbar>
</div>
<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
    <div ng-controller="SideMenuController">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Connections</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="addConnection($event)">
                    <md-tooltip md-direction="bottom">
                        Add new connection
                    </md-tooltip>
                    <md-icon>add</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-content layout-padding>
            <md-list>
                <md-list-item ng-repeat="connection in connections" ng-click="selectConnection(connection)">
                    <p> {{ connection.name }} </p>
                    <md-menu>
                        <md-button aria-label="Open phone interactions menu" class="md-icon-button"
                                   ng-click="$mdOpenMenu($event)">
                            <md-icon>more_vert</md-icon>
                        </md-button>
                        <md-menu-content width="4">
                            <md-menu-item>
                                <md-button ng-click="editConnection($event, connection)">
                                    <md-icon>edit</md-icon>
                                    Edit
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="removeConnection($event, connection)">
                                    <md-icon>delete</md-icon>
                                    Remove
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </md-list-item>
            </md-list>
        </md-content>
    </div>
</md-sidenav>

<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="bower_components/angular-material-data-table/dist/md-data-table.min.js"></script>
<script src="js/app.js"></script>
<script src="js/table.class.js"></script>
<script src="js/dumpConfiguration.class.js"></script>
<script src="js/app.controller.js"></script>
<script src="js/menu.controller.js"></script>
<script src="js/sidemenu.controller.js"></script>
<script src="js/mysqlbindialog.controller.js"></script>
<script src="js/connection.controller.js"></script>
<script src="js/dumpdetails.controller.js"></script>
</body>
</html>
